beautifulsoup4==4.6.0
dj-database-url==0.4.1
Django==1.9.7
django-filter==1.0.4
django-taggit==0.22.1
djangorestframework==3.6.3
feedfinder2==0.0.4
feedparser==5.2.1
gunicorn==19.6.0
newspaper3k==0.2.2
nltk==3.2.4
parsedatetime==2.1
Pillow==4.1.1
psycopg2==2.6.2
pycurl==7.19.3
PyICU==1.9.5
virtualenv==15.1.0
whitenoise==2.0.6
